body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media only screen and (min-width: 577px){}
@media only screen and (min-width: 769px){}
@media only screen and (min-width: 993px){}
@media only screen and (min-width: 1201px){}
@media only screen and (min-width: 1400px){
    .custom-container{
        width: 100%;
    } 
    .responsive-padding{
        padding-left: 60px;
        padding-right: 60px;
    } 
}

@media only screen and (max-width: 576px){
    .custom-container{
        width: 100%;
    }    
    .responsive-padding{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 768px){
    .custom-container{
        width: 540px;
    }    
    .responsive-padding{
        padding-left: 25px;
        padding-right: 25px;
    }
}
@media only screen and (max-width: 768px){}
@media only screen and (min-width: 768px) and (max-width: 992px){
    .custom-container{
        width: 1320px;
    } 
    .responsive-padding{
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media only screen and (max-width: 992px){}
@media only screen and (min-width: 992px) and (max-width: 1200px){
    .custom-container{
        width: 960px;
    } 
    .responsive-padding{
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media only screen and (max-width: 1200px){}
@media only screen and (min-width: 1200px) and (max-width: 1400px){
    .custom-container{
        width: 960px;
    } 
    .responsive-padding{
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media only screen and (max-width: 1400px){}
